* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
	background-color: white;
}
.wrapper {
	width: 1200px;
	background-color: white;
	border-left: 2px dotted black;
	border-right: 2px dotted black;
	margin: 0 auto;
}
.logo-wrapper {
	text-align: left;
	padding-left: 30px;
}
.logo img {
	width: 83.6%;
}
.logo {
	text-decoration: none;
	display: inline-block;
	width: 180px;
	color: black;
	margin-bottom: 20px;
}
.logo span {
	text-transform: uppercase;
	font-size: 20px;
	padding-left: 11px;
}
.logo:hover {
	opacity: 0.8;
}
.nav-header {
	background-color: white;
	font-size: 20px;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
.nav-header ul {
padding-left: 30px;
}
.nav-header a {
	display: inline-block;
	padding: 10px 19.5px 10px;
	text-decoration: none;
	color: black;
}
.nav-header a:hover {
	background-color: black;
	color: white;
}
nav {
	margin-top: 20px;
}
nav li {
	display: inline-block;
}
.content {
	padding: 30px;
}
.content img {
	width: 100%;
	text-align: center;
}
h1 {
	margin-top: 10px;
	font-size: 40px;
}
p {
	margin-top: 10px;
	font-size: 22px;
	margin-bottom: 10px;
}
h2 {
	font-size: 30px;
	margin-top: 10px;
}
footer {
	padding: 10px;
	background-color: black;
	text-align: center;
}
.nav-footer,
.nav-footer a {
	color: white;
	text-decoration: none;
	background-color: black;
	font-size: 12px;
}
.nav-footer li {
	padding: 0 10px 20px; 
}
.nav-footer a:hover {
	text-decoration: none;
	border-bottom: 1px dashed white;
}